.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__/
ipython_config.py

.python-version
*.png
*.jpg
*.jpeg
*.tiff
*.npy 
*.pt
/tensorflow/saved_models/*
/pytorch/saved_models/*
/pytorch/saved_data/*
/data/multiWienerPSFStack_40z_aligned.mat
/pytorch/2D deconvolution demo (pretrained).ipynb